:root {
  --marigold: hsla(35, 84%, 59%, 1);
  --orange-yellow-crayola: hsla(42, 76%, 69%, 1);

  --desert-sand: hsla(25, 32%, 76%, 1);
  --champagne-pink: hsla(25, 57%, 88%, 1);
  --linen: hsla(26, 42%, 93%, 1);

  --cameo-pink: hsla(330, 49%, 85%, 1);

  --xanadu: hsla(165, 8%, 47%, 1);
  --opal: hsla(166, 23%, 70%, 1);
  --cultured: hsla(240, 8%, 95%, 1);
  --cultured-back: hsla(240, 10%, 90%, 1);
  --text-groen: hsla(162, 14%, 36%, 1);

  --light-cornflower-blue: hsla(203, 66%, 76%, 1);
}

@font-face {
  font-family: organo;
  src: url(fonts/organo.woff2);
}

@font-face {
  font-family: karla;
  src: url(fonts/karla.woff2);
}

* {
  padding: 0;
  margin: 0;
  font-family: karla;
  color: var(--text-groen);
}

a:hover {
  color: var(--cultured);
}

main {
  background-color: var(--cultured);
}
.show {
  display: block;
}

.noshow {
  display: none;
}

img {
  height: 100%;
  width: 100%;
  background-color: inherit;
}

.h2_wrapper {
  display: grid;
}

.h2_wrapper h2, .h2_wrapper h3 {
  place-self: center;
  padding-top: 5%;
}

a {
  background-color: inherit;
}

.fragt_bar {
  height: fit-content;
  width: 100%;
  background-color: var(--text-groen);
  font-size: 0.5rem;
  display: flex;
  place-content: center;
  color: var(--cultured);
  border: none;
  padding-bottom: 1%;
  padding-top: 1%;
}

.info_bar {
  height: fit-content;
  width: 100%;
  background-color: var(--cameo-pink);
  font-size: 0.5rem;
  display: flex;
  place-content: center;
  color: var(--text-groen);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  padding-bottom: 1%;
  padding-top: 1%;
}

.button {
  border-radius: 20px;
  background-color: var(--cameo-pink);
  border-style: solid;
  border-width: 10px;
  border-color: var(--cameo-pink);
}

button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: var(--text-groen);
  background-color: var(--cameo-pink);
  box-shadow: 5px 5px 0px 0px var(--marigold);
  margin: 10px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

.produkt:hover {
  background-color: var(--text-groen);
  color: var(--cultured);
}

.ikon {
  width: 60%;
  display: flex;
  justify-self: center;
}

header {
  background-color: var(--cultured);
}

#header_bar,
#logo_container {
  z-index: -1;
  display: flex;
  padding-bottom: 2%;
}

#logo_container {
  display: flex;
  padding-left: 2vw;
  padding-right: 2vw;
}

#logo {
  width: 40%;
  aspect-ratio: 45/13;
}

#burger_closed {
  background-image: url(ikoner/burger.svg);
  background-size: cover;
  width: 15px;
  height: 15px;
  background-color: var(--cameo-pink);
  position: relative;
  z-index: 50;
}

#burger_opened {
  background-image: url(ikoner/krys.svg);
  background-size: cover;
  width: 15px;
  height: 15px;
  display: none;
  background-color: var(--cameo-pink);
  position: relative;
  z-index: 50;
}

#hamburger {
  position: fixed;
  margin-top: 1%;
  z-index: 50;
  right: 0;
  margin-right: 5px;
}

.burger_menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 50;
  background-color: var(--opal);
  color: white;
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  gap: 20px;

  display: flex;
  flex-direction: column;
}

.burger_menu li {
  display: flex;
  justify-content: center;
}

.burger_menu a {
  display: grid;
  text-decoration: none;
  color: var(--text-groen);
  font-size: 1rem;
  align-content: center;
}

.showMenu {
  transform: translateY(0%);
}

li {
  background-color: inherit;
}

#splash {
  height: 280px;
  background-image: url(pics/bubblysplash.jpg);
  background-size: cover;
  background-position: 25% 0%;
}

h1 {
  font-family: organo;
  color: var(--cultured);
  font-size: 16vw;
  padding-left: 28%;
  padding-top: 1%;
}

h2 {
  color: orange;
  font-family: organo;
  font-size: 8vw;
  align-content: center;
}

.valgt {
  color: var(--text-groen);
  background-color: var(--opal);
  box-shadow: 5px 5px 0px 0px var(--text-groen);
}

#artikel:hover {
  border-style: solid;
  border-width: 1px;
  border-color: var(--text-groen);
}

#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  overflow: scroll;
  z-index: 150;
}

#popup button {
  width: fit-content;
}

#popup article {
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  border-radius: 50px 50px;
  padding: 12px;
  background-color: var(--cultured);
  border: var(--text-groen);
  border-width: 8px;
  border-style: solid;
  cursor: default;
  color: white;
  padding: 20px;
}

#popup img {
  width: 100%;
}

#popup .ting {
  display: flex;
  align-items: flex-start;
}

#luk {
  font-family: organo;
  top: 60px;
  left: 77%;
  position: absolute;
  padding: 1rem;
  font-size: 1.7em;
  font-weight: bolder;
  color: var(--text-groen);
  cursor: pointer;
}

#popup_opening {
  background-color: transparent;
  z-index: 110;
  position: fixed;
  top: 2%;
  left: 2%;
  height: 45vh;
  width: 95vw;
  border-radius: 25px;
}

#luk1 {
  font-family: organo;
  position: fixed;
  top: 2%;
  left: 87%;
  font-size: 1.7em;
  font-weight: bolder;
  color: var(--text-groen);
  cursor: pointer;
  z-index: 100;
}

#h2_opening {
  position: fixed;
  top: 25vh;
  left: 25vw;
}

.fave_ikon {
  width: 30px;
  height: 30px;
  background-image: url(ikoner/fave_empty.svg);
  background-size: cover;
  margin: 10px;
}

.fave_ikon:hover {
  transform: scale(1.2);
}

.fave_ikon_clicked {
  width: 30px;
  height: 30px;
  background-image: url(ikoner/favorite.svg);
  background-size: cover;
  z-index: 100;
}

footer {
  background-color: var(--text-groen);
  color: var(--cultured);
  display: grid;
}

span {
  color: var(--cultured);
}

.adresse,
.kontakt {
  display: grid;
  justify-content: space-around;
}

.facebook,
.instagram {
  width: 25px;
  height: 25px;
  background-color: var(--cultured);
  border-radius: 5px;
  margin: 5px;
  grid-row: 2;
}

.so_me {
  display: flex;
}
footer {
  display: flex;
  padding: 20px;
  gap: 10px;
  font-size: 0.8rem;
  padding-bottom: 60px;
  padding-top: 60px;
}

#popup h3 {
  font-family: organo;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.8rem;
  color: var(--marigold);
}

.ting {
  padding-bottom: 10px;
}

.str {
  padding-top: 10px;
}

#popup .pris {
  font-size: 2rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 600px) {
  #logo {
    padding-top: 1vw;
    width: 50%;
  }

  #hamburger {
    display: none;
  }

  .burger_menu {
    transform: translateY(0);
  }

  .burger_menu a {
    font-size: 1rem;
  }

  footer {
    font-size: 0.8rem;
    justify-content: space-around;
  }

  #splash {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 2fr 2fr;
  }

  h1 {
    font-size: 13vw;
    grid-row: 4;
    grid-column: 5;
  }

  h2 {
    font-size: 3vw;
    padding: 1vw;
  }

  #logo_container {
    justify-content: space-between;
    align-items: center;
  }

  .burger_menu {
    padding: 0;
    position: inherit;
    display: block;
    transform: translateY(0%);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  #popup_opening {
    width: fit-content;
    max-width: 1400px;
    position: fixed;
    left: 20%;
  }

  #popup_opening img {
    max-width: 80%;
    aspect-ratio: 2654/1770;
  }

  #luk1 {
    top: 3%;
    left: 80%;
  }

  #banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
    padding-left: 10%;
    padding-right: 10%;
  }

  #banner img {
    width: 1fr;
  }

  .produkt_ikon:hover {
    transform: scale(1.1);
  }

  #sortering_container {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  #nav_wrap {
    padding: 10%;
    width: 150px;
    display: flex;
    flex-direction: column;
  }

  #nav_wrap button {
    width: 150px;
  }

  #nav_wrap h3 {
    padding-bottom: 20%;
    padding-top: 40%;
  }


  #liste {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    padding-bottom: 15%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
  }

  #artikel {
    min-width: auto;
    max-width: 400px;
    display: grid;
    grid-template-columns: 4fr auto;
    grid-template-rows: auto;
    border-radius: 25px;
    padding: 10px;
    padding-bottom: 15%;
    padding-right: 0;
    margin: 2rem;
  }

  .produkt_ikon {
    height: auto;
    grid-row: span 2;
    border-radius: 25px;
    background-color: transparent;
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }

  #popup .produkt_ikon {
    cursor: default;
  }

  .fave_ikon {
    grid-row: 0;
    z-index: 100;
    align-self: center;
    justify-self: left;
  }

  #artikel h3 {
    grid-row: 3;
    font-size: 1.2rem;

    font-family: organo;
    align-self: center;
  }

  .str_pris_container {
    grid-row: 4;
    display: grid;
    padding-bottom: 10px;
  }

  #artikel .str {
    padding: 0;
    grid-row: 4;
    align-self: center;
    /* 
    justify-self: left; */
  }

  #artikel .pris {
    grid-row: 4;
    font-size: 1.3rem;
    /* align-self: center; */
  }

  #artikel button {
    grid-row: 5;
    width: fit-content;
    align-self: center;
    justify-self: left;
    margin: 0;
  }

  h3 {
    font-family: organo;
    font-size: 2rem;
    padding-bottom: 1vh;
    padding-top: 1vh;
  }

  .fragt_bar,
  .info_bar {
    font-size: 0.8rem;
  }

  #popup {
    width: 800px;
    left: 15%;
  }

  #popup .top {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* #popup .bottom {
  } */

  #popup img:hover {
    transform: none;
  }

  #popup img {
    width: 100%;
  }

  #luk {
    top: 8%;
    left: 92%;
  }

  #popup .pris {
    font-size: 3rem;
  }

  #popup h3 {
    color: var(--marigold);
  }

  


  .sorter_btn {
    background: none;
  box-shadow: none;
  padding: 0;
  padding-bottom: 10%;
  margin: 0;
  text-align: left;
  font-family: karla;
  font-size: 1rem;

  }

  .sorter_btn:hover {
    transform: scale(1.1);
  }

  #kategorih3 {
    font-family: karla;
    font-size: 2.5rem;
    padding-top: 0;
    color: var(--marigold);
  }

  .bubbly_footer {
    width: 60%;
  }

}

/* ------- om oss ------- */

#om-oss h2 {
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
}

#om-oss {
  padding-bottom: 50px;
}

#om-oss p {
  padding: 7px;
  padding-left: 15px;
}

#om-oss li {
  padding: 7px;
  padding-left: 15px;
  /* padding-right: 20px; */
}

#om-oss-banner {
  background-color: var(--opal);
  padding: 30px;
  text-align: center;
  font-size: 20px;
  /* height: 20px; */
}

#kontakt-oss {
  padding-top: 50px;
  padding-bottom: 50px;
}

#kontakt-oss p {
  padding: 10px;
  padding-left: 15px;
}

#kontakt-oss h3 {
  padding: 7px;
  padding-left: 15px;
  color: var(--marigold);
}

.kunde-service li {
  list-style: none;
  padding-left: 25px;
}

.kunde-service {
  text-align: initial;
}

#kontakt-oss a:hover {
  color: var(--marigold);
}

#om-oss-knapper {
  display: grid;
  grid-column-gap: 1px;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  padding: 1px;
}

#om-oss-knapper img {
  width: 21vh;
  height: 21vh;
}

@media (min-width: 600px) {
  #om-oss-overskrift {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 50px;
  }

  #om-oss-knapper {
    display: grid;
    grid-column-gap: 1px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
    padding: 1px;
  }

  #om-oss li {
    list-style: none;
  }

  #om-oss {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 30px;
  }

  #om-oss-banner {
    background-color: var(--opal);
    padding: 100px;
    text-align: center;
    font-size: 25px;
    height: 20px;
  }

  #kontakt-oss {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 50px;
    padding-left: 150px;
    padding-right: 100px;

    /* padding-top: 100px;
    padding-bottom: 50px; */
  }
}

/* .om-oss-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 80% 100%;
}
 */
