:root {
  --marigold: hsla(35, 84%, 59%, 1);
  --orange-yellow-crayola: hsla(42, 76%, 69%, 1);

  --desert-sand: hsla(25, 32%, 76%, 1);
  --champagne-pink: hsla(25, 57%, 88%, 1);
  --linen: hsla(26, 42%, 93%, 1);

  --cameo-pink: hsla(330, 49%, 85%, 1);

  --xanadu: hsla(165, 8%, 47%, 1);
  --opal: hsla(166, 23%, 70%, 1);
  --cultured: hsla(240, 8%, 95%, 1);
  --text-groen: hsla(162, 14%, 36%, 1);

  --light-cornflower-blue: hsla(203, 66%, 76%, 1);
}

@font-face {
  font-family: organo;
  src: url(fonts/organo.woff2);
}

@font-face {
  font-family: karla;
  src: url(fonts/karla.woff2);
}

* {
  padding: 0;
  margin: 0;
  font-family: karla;
  color: var(--text-groen);
}

.show {
  display: block;
}

.noshow {
  display: none;
}
img {
  height: 100%;
  width: 100%;
  background-color: inherit;
}

a {
  background-color: inherit;
}

body {
  display: grid;
  grid-template-rows: minmax(fit-content, 1fr);
}

.fragt_bar {
  height: fit-content;
  width: 100%;
  background-color: var(--text-groen);
  font-size: 2vw;
  display: flex;
  place-content: center;
  color: var(--cultured);
  border: none;
  padding-bottom: 1%;
  padding-top: 1%;
}

.info_bar {
  height: fit-content;
  width: 100%;
  background-color: var(--cameo-pink);
  font-size: 2vw;
  display: flex;
  place-content: center;
  color: var(--text-groen);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  padding-bottom: 1%;
  padding-top: 1%;
}

.button {
  border-radius: 20px;
  background-color: var(--cameo-pink);
  border-style: solid;
  border-width: 10px;
  border-color: var(--cameo-pink);
}

button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: var(--cultured);
  background-color: var(--cameo-pink);
  box-shadow: 5px 5px 0px 0px var(--marigold);
  margin: 10px;
}

button:hover {
  transform: scale(1.1);
  background-color: var(--light-cornflower-blue);
}

.ikon {
  width: 60%;
  display: flex;
  justify-self: center;
}

header {
  background-color: var(--cultured);
}

#header_bar,
#logo_container {
  z-index: -1;
  display: flex;
  padding-bottom: 2%;
}

#logo_container {
  display: flex;
}

#logo {
  width: 40%;
  aspect-ratio: 45/13;
}

#burger_closed {
  background-image: url(ikoner/burger.svg);
  background-size: cover;
  width: 15px;
  height: 15px;
  background-color: var(--cameo-pink);
  position: relative;
  z-index: 50;
}

#burger_opened {
  background-image: url(ikoner/krys.svg);
  background-size: cover;
  width: 15px;
  height: 15px;
  display: none;
  background-color: var(--cameo-pink);
  position: relative;
  z-index: 50;
}

#hamburger {
  position: relative;
  margin-top: 3%;
  z-index: 50;
  margin-right: 1vw;
}

.burger_menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 50;
  background-color: var(--opal);
  color: white;
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  gap: 20px;

  display: flex;
  flex-direction: column;
}

.burger_menu li {
  display: flex;
  justify-content: center;
}

.burger_menu a {
  display: grid;
  text-decoration: none;
  color: var(--text-groen);
  font-size: 2vw;
  align-content: center;
}

.showMenu {
  transform: translateY(0%);
}

li {
  background-color: inherit;
}

#splash {
  height: 280px;
  background-image: url(pics/bubblysplash.jpg);
  background-size: cover;
  background-position: 25% 0%;
}

h1 {
  font-family: organo;
  color: var(--cultured);
  font-size: 16vw;
  padding-left: 28%;
  padding-top: 1%;
}

h2 {
  color: orange;
  font-family: organo;
  font-size: 8vw;
}

.valgt {
  background-color: var(--text-groen);
}

.valgt:hover {
  background-color: var(--text-groen);
}

#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: blue;
  overflow: scroll;
}

#popup article {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  border-radius: 15px 50px;
  padding: 12px;
  background-color: red;
  border: white;
  border-width: 8px;
  border-style: solid;
  cursor: default;
  color: white;
  padding: 20px;
}

#luk {
  position: fixed;
  padding: 1rem;
  font-size: 1.7em;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

#popup_opening {
  background-color: var(--cultured);
  z-index: 10;
  position: fixed;
  top: 2%;
  left: 2%;
  height: 45vh;
  width: 95vw;
  border-radius: 50%;
}

#luk1 {
  position: fixed;
  top: 40vh;
  left: 48vw;
  font-size: 1.7em;
  font-weight: bolder;
  color: var(--text-groen);
  cursor: pointer;
  z-index: 100;
}

#h2_opening {
  position: fixed;
  top: 25vh;
  left: 25vw;
}

#banner h2 {
  display: grid;
  justify-content: center;
}

.fave_ikon {
  width: 30px;
  height: 30px;
  background-image: url(ikoner/fave_empty.svg);
  background-size: cover;
  margin: 10px;
}

.fave_ikon:hover {
  transform: scale(1.2);
}

.fave_ikon_clicked {
  width: 30px;
  height: 30px;
  background-image: url(ikoner/favorite.svg);
  background-size: cover;
}

.produkt_ikon {
  width: 300px;
}
.produkt_ikon:hover {
  width: 300px;
  transform: scale(1.1);
}

@media (min-width: 600px) {
  #logo {
    width: 100%;
  }

  #hamburger {
    display: none;
  }

  #burger_menu {
    transform: translateY(0);
  }

  #logo_container {
    width: 100%;
  }

  #splash {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 2fr 2fr;
  }

  h1 {
    font-size: 13vw;
    grid-row: 4;
    grid-column: 5;
  }

  h2 {
    font-size: 5vw;
  }

  #logo_container {
    justify-content: space-between;
    align-items: center;
  }

  .burger_menu {
    padding: 0;
    position: inherit;
    display: block;
    transform: translateY(0%);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  #popup_opening {
    height: 95vh;
    width: 95vw;
    border-radius: 50%;
  }

  #luk1 {
    top: 90vh;
  }

  #banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  #banner img {
    width: 1fr;
  }
}
